
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- reviews section starts  -->

<section class="reviews" id="reviews">

    <h1 class="heading"> öğrenci <span>yorumları</span></h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <p>kurs çok kapsamlı, ayrıntılı ve sürekli güncelleniyor. bu işi yapmak isteyen herkes bu kursu almalı <br />  <br />    </p>
                <div class="user">
                    <img src="~/Content/Core/images/pic-1.png" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>

                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>Kurs güzel ve web geliştirme hakkında en iyi kurs bence. <br /><br /><br /></p>
                <div class="user">
                    <img src="~/Content/Core/images/pic-2.png" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>Beni meslek sahibi yaptığınız için çok teşekkür ederim. Yaklaşık 1 buçuk senedir dersleri sindire sindire izledim devamında kendim uyguladım.  </p>
                <div class="user">
                    <img src="~/Content/Core/images/pic-3.png" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>Ihtiyaciniz olan hersey var ve konular birbirleri ile baglantili sekilde oldugu icin herseyi parca parca baska birisinden ogrenmenize gerek kalmiyor.</p>
                <div class="user">
                    <img src="~/Content/Core/images/pic-4.png" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>En kapsamli ve en güncel Fullstack Gelistirici Egitimlerinden birisi. Bir gelistiriciyi 0'dan zirveye tasiyan bir müfredat icerisinde barindiriyor.</p>
                <div class="user">
                    <img src="~/Content/Core/images/pic-5.png" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>Merhabalar. Kesinlikle her bir kuruşuna değen bir kurs. Çok detaylı, akıcı ve öğretici bir eğitmen (Kendi nezdimde). Çok çok ileri düzey</p>
                <div class="user">
                    <img src="~/Content/Core/images/pic-6.png" alt="">
                    <div class="user-info">
                        <h3>john deo</h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<!-- reviews section ends -->
